name: 'Hax Auto Renew'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 */1 * *'
jobs:
  hax_renew:
    runs-on: windows-2022
    
    steps:
      - name: 'Renewing Hax VPS ....' 
        env:
          SECRET_USERNAME: ${{ secrets.USERNAME }}
          SECRET_PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          cmd /c curl -sSL -O https://github.com/orclu/Hax_extend/raw/main/HaxAutoReNew.exe
          cmd /c HaxAutoReNew.exe -user "USERNAME" -password "PASSWORD"
